<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column">
    <nav class = "navibar">
        <ul class = "row">
            <li class = "navlink"><a href="/">Home</a></li>
            <li class = "navlink"><a href="/dashboard">Dashboard</a></li>
            <li class = "navlink"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    <header class="hero">
        <h1 class="title"><a href="/dashboard">Your Dashboard</a></h1>
    </header>

    <main class="column">
        {{{body}}}
    </main>

    <footer class="footer">
        <a href="/dashboard/new">New Post</a>
    </footer>
</body>

<script src="/js/logout.js"></script>

</html>