<div class="card">
    <div class="header">
        <h2>Login</h2>
    </div>
    <form class = "body" id="login-form">
        <div>
            <label for="user-login">Username</label>
            <input type="text" id="user-login"/>
        </div>
        <div>
            <label for="pass-login">Password</label>
            <input type="text" id="pass-login"/>
        </div>
        <button type="submit" id="login-button">Login</button>
        <a type="button" href="/signup">Sign Up</a>
    </form>
</div>

<script src="/js/log.js"></script>