<div class="card">
    <div class="header">
        <h2>Signup</h2>
    </div>
    <form class="body" id="signup-form">
        <div>
            <label for="user-signup">Username</label>
            <input type="text" id="user-signup"/>
        </div>
        <div>
            <label for="pass-signup">Password</label>
            <input type="text" id="pass-signup"/>
        </div>
        <button type="submit" id="signup-button">SignUp</button>
        <a type="button" href="/login">Log In</a>
    </form>
</div>

<script src="/js/signup.js"></script>